# Note: You must create custom environment variables beginning with REACT_APP_.
# Any other variables except NODE_ENV will be ignored to avoid accidentally
# exposing a private key on the machine that could have the same name.

# Note: Changing any environment variables will require you to restart the
# development server if it is running.

# Variables will be exposed in your Javascript files as process.env.NAME,
# i.e. REACT_APP_SECRET will be exposed as process.env.REACT_APP_SECRET


REACT_APP_APOLLO_CLIENT_URI=http://localhost:8000/graphql